@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    color-scheme: only light;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Bree Serif', serif;
    overflow-x: hidden;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    font-family: 'Bree Serif', serif;
    overflow-x: hidden;
    background-color: #2a295b;
}

h1, h2, h3, h4, h5, h6, p, a, .navbar div {
    line-height: 1.5em;
    overflow: visible;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.button {
    background-color: #981a32;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: transform 0.2s ease-in-out
}

.button:hover {
    background-color: #ab2f3f;
    transform: scale(1.2);
    overflow: visible;
}

.navbar-container {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    margin: 10px 0;
    width: 110px;
    border-radius: 50%;
}

.nav-item {
    display: inline-block;
    margin-top: -10px;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    background: none;
    color: black;
}

.responsive-nav-items {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive-nav-item {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px 15px;
}

.popup-content {
    margin: auto;
    background: #fff;
    width: 100%;
    padding: 5px;
    overflow: visible;
}
.popup-arrow {
    color: #fff;
}

[role='tooltip'].popup-content {
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
    background: transparent;
}

.menu-icon {
    display: none;
}

.konf-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.konf-item {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.hero-content {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.hero-content h1 {
    font-size: 6em;
    -webkit-text-stroke: 3px black;
}

.hero-content h2 {
    font-size: 3em;
    padding: 0 20px;
    -webkit-text-stroke: 2px black;
}

.countdown-container {
    background-color: white;
    padding-bottom: 20px;
}

.countdown {
    padding: 20px 25px;
}

.countdown h3 {
    font-size: 2.5em;
    margin-top: 20px;
    text-align: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.timer div {
    display: flex;
}

.timer svg {
    margin: 0 10px;
    width: 150px;
    height: 150px;
}

.timer svg text {
    fill: black;
    font-size: 1em;
}

.countdown .button {
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.basvuru {
    min-height: 78vh;
    background-color: #2A295B;
    margin-bottom: 30px;
}

.basvuru h1 {
    padding: 0 25px;
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
    margin-top: 15vh;
    text-align: center;
}

.basvuru-container {
    width: 100vw;
    position: relative;
}

.arrow {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    pointer-events: all;
    top: 38%;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    left: 20px;
}

.right-arrow {
    position: absolute;
    right: 20px;
}

.basvuru-secenekler {
    width: 100vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 80px;
}

.basvuru-secenekler::-webkit-scrollbar {
    display: none;
}

.basvuru-secenek {
    scroll-snap-align: center;
    display: flex;
    background-color: #981a32;
    border-radius: 10px;
    margin: 40px;
    max-width: 1200px;
    min-width: 60%;
    border: 3px solid white;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.basvuru-secenek-content {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.basvuru-secenek .img {
    min-width: 350px;
}

.basvuru-secenek h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.basvuru-secenek p {
    font-size: 1em;
    margin-bottom: 15px;
}

.basvuru-secenek .button {
    background-color: #2A295B;
    font-size: 1em;
    align-self: flex-end;
    margin-top: 20px;
}

.basvuru-secenek button:hover {
    transform: scale(1.1);
}

.basvuru-secenek-popup {
    display: none;
}

.auth-screen {
    min-height: 45vh;
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px 25px;
}

.auth-screen h1 {
    font-size: 2em;
    text-align: center;
}

.auth-screen input[type="email"] {
    background-color: white;
    border: none;
    outline: none;
    color: #2a295b;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 1.1em;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.auth-screen input[type="email"]:focus {
    transform: scale(1.1);
}

.auth-screen button {
    color: white;
    font-size: 1.1em;
    padding: 8px 15px;
}

.auth-screen button:hover {
    transform: scale(1.05);
}

.auth-screen button:disabled {
    background-color: gray;
    cursor: default;
}

.auth-screen button:disabled:hover {
    transform: scale(1);
}

.kvkk-form-container {
    margin: 10px 15px;
    overflow: visible !important;
    text-align: center;
    margin-top: 30px;
}

.kvkk-form-container a {
    color: white;
    line-height: 1.5em;
}

.kvkk-form-container input[type="checkbox"] {
    margin-right: 10px;
}

.alert {
    background-color: green;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 350px;
    text-align: center;
    color: white;
}

.alert-success {
    background-color: green;
}

.alert-warning {
    background-color: #8c8c37;
}

.alert-danger {
    background-color: #ab2f3f;
}

.auth-screen .alert-danger {
    margin: 20px 0;
}

.auth-screen .alert-success {
    margin: 20px 0;
}

.basvuru-form h1 {
    font-size: 2em;
    margin: 40px 0;
    color: white;
    text-align: center;
    padding: 0 25px;
}

.basvuru-form .button-container {
    padding-bottom: 30px;
    width: 100%;
    overflow: visible;
}

.basvuru-form .submit {
    padding-bottom: 50px;
}

.basvuru-form .submit-button {
    padding: 10px 25px;
}

.basvuru-form .log-out:hover, .basvuru-form .submit-button:hover {
    transform: scale(1.05);
}

.button:disabled {
    transform: scale(1);
    background-color: #575757;
}

.button:disabled:hover {
    transform: scale(1);
    background-color: #575757;
    cursor: default;
}

.questions {
    padding: 15px 20px;
    max-width: 400px;
    margin: auto;
}

.question {
    margin-bottom: 30px;
    overflow: visible !important;
}

.question label, .question input[type="text"], .question textarea {
    display: block;
    line-height: 1.5em;
    width: 100%;
}

.question input[type="text"] {
    border: none;
    outline: none;
    color: #2a295b;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1.1em;
}

.question textarea {
    resize: none;
    height: 250px;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    border: none;
    font-size: 1.1em;
}

.question label {
    color: white;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 1.1em;
    overflow: visible;
    transition: all 0.2s ease-in-out;
}

.komite-secenekler {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
}

.komite-secenek {
    display: flex;
}

.komite-secenek label {
    margin: 10px 15px;
    color: black;
    width: fit-content;
}

.basvuru-form .alert {
    margin: 0 auto 25px auto;

}

.sent {
    color: white;
    padding: 20px 25px;
    max-width: 750px;
    margin: 20vh auto 0 auto;
    text-align: center;
}

.sent h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sent p {
    font-size: 1.1em;
}

.sent .buttons {
    overflow: visible;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sent .buttons button {
    font-size: 1.05em;
    margin: 10px 10px;
}

.sent .buttons button:hover {
    transform: scale(1.05);
}

.panel-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #191926;
}

.panel-nav-item {
    color: white;
    margin: 20px;
    padding: 10px 15px;
    width: 182px;
    text-align: center;
    transition: all 0.5s ease;
    background-color: #2a295b;
    border-radius: 10px;
}

.panel-nav-item:hover {
    cursor: pointer;
    background-color: #312f8c;
}

.panel-active-item, .panel-active-item:hover {
    background: #981a32;
}

.panel-content {
    margin: 0 10px;
    padding-bottom: 60px;
}

.user  {
    margin: 60px auto;
    display: block;
    background-color: #ab2f3f;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    color: #e1e1e1;
    letter-spacing: 0.05em;
    border: 3px solid white;
}

.fields {

}

.field {
    margin-bottom: 30px;
}

.field-label {
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.field-content {
    font-size: 16px;
}

.user-buttons {
    margin-bottom: 20px;
}

.user-button {
    background-color: #2a295b;
    color: white;
    padding: 10px 15px;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.2s ease;
}

.kabul-ret-buttons {
    margin-bottom: 20px;
}

.user-button:hover {
    background-color: #1c1c41;
}

.not-selected {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
}

.user-button:disabled {
    background-color: #575757;
    cursor: default;
}

.user-durum {
    background-color: #2a295b;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.committee-selection {
    border-radius: 10px;
    outline: none;
    padding: 5px;
}

.filter div {
    margin-bottom: 20px;
}

.checkboxes {
    padding: 0 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.checkbox-container {
    min-width: 50%;
    display: flex;
    margin: 15px 0;
    justify-content: center;
}

.checkbox label {
    color: black;
}

.checkbox {
    margin: 0 20px;
}

.checkbox label {
    display: inline !important;
    margin-left: 2px;
}

.konum {
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.konum h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 42px;
    margin-bottom: 40px;
}

#map {
    width: 90%;
    border-radius: 15px;
    border: 7px solid #981a32;
    aspect-ratio: 16/12;
    max-width: 600px;
    min-height: 300px;
    margin-bottom: 60px;
}

.footer {
    height: 125px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #981a32;
}

.inner-footer {
    max-width: 500px;
    color: white;
    margin: auto;
    text-align: center;
}

.inner-footer hr {
    border: 0;
    border-top: 2px solid white;
    margin: 10px 0;
}

.popup {
    margin: 0 !important;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 1.5em;
}

.popup-content {
    max-width: 900px;
}

@media(min-width: 2000px) {
    .basvuru-secenek {
        min-width: 1000px;
    }
}

@media(max-width: 1200px) {

    .basvuru h1 {
        margin-top: 10vh;
    }

    .basvuru-secenek {
        flex-direction: column;
        align-items: stretch;
        min-width: 60%;
        border: 3px solid white;
        color: white;
    }

    .basvuru-secenek .img {
        min-width: 100%;
        min-height: 250px;
    }

    .left-arrow {
        position: absolute;
        left: 5px;
    }

    .basvuru-secenek-popup {
        display: block;
        text-decoration: underline;
        color: white;
        font-size: 1em;
        padding: 0;
    }

    .basvuru-secenek-desc {
        display: none;
    }

    .basvuru-secenek-popup:hover {
        transform: none !important;
    }

    .right-arrow {
        position: absolute;
        right: 5px;
    }


}

@media(max-width: 768px) {
    .hero-content h1 {
        font-size: 5em;
    }

    .hero-content h2 {
        font-size: 2.5em;
    }

    .nav-items {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .basvuru-secenek .img {
        min-width: 100%;
        min-height: 200px;
    }

    .basvuru-secenek-content {
        height: 100%;
    }

    .basvuru-secenek h2 {
        font-size: 1.5em;
    }

    .basvuru-secenek p {
        font-size: 1em;
    }
}

@media(max-width: 570px) {
    .hero-content h1 {
        font-size: 4em;
        -webkit-text-stroke-width: 2px;
    }

    .hero-content h2 {
        font-size: 2em;
        -webkit-text-stroke-width: 0.04em;
    }

    .countdown h3 {
        font-size: 2em;
    }

    .timer {
        margin: 20px 0;
    }

    .timer svg {
        margin: 0 5px;
    }

    .countdown .button {
        font-size: 1em;
    }

}

@media(max-width: 500px) {
    .basvuru-secenek {
        margin: 20px 15px;
        min-width: 75%;
    }

    .basvuru-secenek h2 {
        font-size: 1.2em;
    }

    .basvuru-secenek p {
        font-size: 0.8em;
    }
}

@media(max-width: 450px) {
    .hero-content h1 {
        font-size: 3.5em;
        -webkit-text-stroke-width: 0.03em;
    }

    .hero-content h2 {
        font-size: 1.75em;
        -webkit-text-stroke-width: 0.04em;
    }

    .countdown h3 {
        font-size: 1.75em;
    }

    .countdown {
        padding-right: 5px;
        padding-left: 5px;
    }

    .arrow {
        display: none;
    }

    .timer {
        margin: 0 0;
    }
}

@media(max-width: 400px) {
    .hero-content h1 {
        font-size: 3em;
        -webkit-text-stroke-width: 0.03em;
    }

    .hero-content h2 {
        font-size: 1.5em;
        -webkit-text-stroke-width: 0.04em;
    }

    .navbar {
        padding: 0 20px;
    }
}

@media(max-width: 370px) {
    .timer {
        flex-wrap: wrap;
    }

    .countdown h3 {
        margin-bottom: 20px;
    }

    .timer svg {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }

    .button-container {
        padding-top: 20px;
    }

    .basvuru-form .button-container {
        padding-top: 0;
    }

    .sent {
        padding: 10px 15px;
    }

    .sent h1 {
        font-size: 1.5em;
    }

    .sent p {
        font-size: 1em;
    }

    .sent .buttons button {
        font-size: 0.9em;
    }
}

@media(max-width: 320px) {
    .auth-screen h1 {
        font-size: 1.5em;
    }

    .auth-screen input[type="email"] {
        font-size: 1em;
    }

    .auth-screen .alert {
        font-size: 0.9em;
    }
}

@media(max-width: 300px) {
    .basvuru-secenek {
        min-width: 80%;
        margin: 20px 10px;
    }

    .basvuru-form h1 {
        font-size: 1.6em;
    }

    .basvuru-form button {
        font-size: 1em;
    }

    .question label {
        font-size: 1em;
    }

    .question input[type="text"] {
        font-size: 1em;
    }
}